{% load static %}

<div style="max-width:630px;min-width:300px;margin:0 auto">
    <div style="margin-left:5%;margin-bottom:15px;height:38px;line-height:38px">
        <img src="https://telegra.ph//file/aac3d4353e16190fabd7d.jpg" width="144" border="0" alt="logo" class="CToWUd" data-bit="iit"/>
    </div>
    <table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-color:#d4d3d3;border-width:2px;border-style:solid;background-color:#fff;padding-top:25px;padding-right:5%;padding-bottom:50px;padding-left:5%">
        <tbody>
            <tr>
                <td style="padding:0">
                    <span>
                        <p style="font-family:Arial,sans-serif;font-size:19px;margin-top:14px;margin-bottom:0">
                            Здравствуйте
                        </p>
                        <p style="font-family:Arial,sans-serif;font-size:15px;line-height:17px;margin-top:30px;margin-bottom:40px">
                            Ваш одноразовый код для входа на наш сайт:
                        </p>
                    </span>
                    <table cellpadding="0" cellspacing="0" width="202">
                        <tbody>
                            <tr>
                                <td width="202" height="48" style="background-color:#ffdd39;text-align:center">
                                    <p style="display:block;font-family:Arial,sans-serif;font-size:15px;text-align:center;width:202px;color:#292929;text-decoration:none;font-weight:bold">
                                        <span style="font-size:1.6em">{{ code }}</span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <span>
                        <p style="font-family:Arial,sans-serif;font-size:15px;line-height:17px;margin-top:30px;margin-bottom:30px">
                            Никому не пересылайте это письмо
                        </p>
                        <p>
                            С заботой о безопасности Вашего аккаунта,
                            <br>
                            Команда FarforProject
                        </p>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
